body {
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  background-color: #000;
  color: gold;
  text-align: center;
}

.container {
  padding: 20px;
  border: 3px solid royalblue;
  border-radius: 16px;
  margin: 20px;
  box-shadow: 0 0 20px royalblue;
}

.logo {
  width: 260px;
  margin: 20px auto;
  display: block;
  border-radius: 16px;
  box-shadow: 0 0 25px royalblue;
}

h1 {
  font-size: 28px;
  margin-top: 10px;
  color: gold;
}

.search-box {
  margin-top: 20px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border: 2px solid royalblue;
  border-radius: 5px;
  background-color: #111;
  color: white;
}

.search-box button {
  padding: 10px 20px;
  background-color: royalblue;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.results-area {
  margin-top: 30px;
  color: white;
}

footer {
  margin-top: 60px;
  font-size: 14px;
  color: gray;
}
